.location {
	&-teaser {
		width: 100%;
		height: 100%;

		&__link {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: inherit;
			transition: all .3s ease;

			&:hover {
				text-decoration: none;
				color: inherit;
				background: rgba(0, 0, 0, 0.05);
			} 
		}
		&__wrapper {
			border: 1px solid #ccc;
			padding: 15px;
			display: flex;
			height: 100%;
		}
		&__image {
			flex: 150px 0 0;
			margin-right: 15px;
		}
		&__content {
			flex: auto;
		}
		&__text {
			margin-top: 15px;
		}

	}
	&-full {

	}
}

.view {
	&-id-locations {
		&.view-display-id-block_overview {
			.view-content {
				display: flex;
				margin: -30px -15px 0;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				min-width: 100%;
			}
			.views-row {
				padding: 0 15px;
				margin-top: 30px;
				display: flex;
				align-items: stretch;
				align-content: stretch;
				width: 100%;

				@media only screen and (min-width: 640px) {
					width: 50%;
				}
			}
		}
	}
}