.location-teaser {
  width: 100%;
  height: 100%;
}
.location-teaser__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.location-teaser__link:hover {
  text-decoration: none;
  color: inherit;
  background: rgba(0, 0, 0, 0.05);
}
.location-teaser__wrapper {
  border: 1px solid #ccc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.location-teaser__image {
  -webkit-box-flex: 150px;
      -ms-flex: 150px 0 0px;
          flex: 150px 0 0;
  margin-right: 15px;
}
.location-teaser__content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.location-teaser__text {
  margin-top: 15px;
}

.view-id-locations.view-display-id-block_overview .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 100%;
}
.view-id-locations.view-display-id-block_overview .views-row {
  padding: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .view-id-locations.view-display-id-block_overview .views-row {
    width: 50%;
  }
}
